<%- include('../layouts/header.ejs') -%>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="top_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="float-left">
              <p>Phone: +91-9544669588</p>
              <p>email: vishnu18js@gmail.com</p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="float-right">
              <ul class="right_side">
                <li>
                  <a href="#">
                  track order
                  </a>
                </li>
                <li>
                  <a href="#">
                  Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/homepage">
          <img src="img/adlante (1).png" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset w-100"
            id="navbarSupportedContent"
            >
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item">
                    <a class="nav-link" href="/homepage">Home</a>
                  </li>
                  <li class="nav-item active">
                    <a href="/shop" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <form action="searchProduct" method="post" class="row g-3">
                    <div class="col-auto d-flex align-items-center">
                      <label for="searchProduct" class="visually-hidden">Search</label>
                      <input type="text" name="searchQuery" class="form-control" id="searchProduct" placeholder="Search">
                    </div>
                    <div class="col-auto">
                      <li class="nav-item">
                        <button type="submit" class="icons">
                        <i class="ti-search" aria-hidden="true"></i>
                        </button>
                      </li>
                    </div>
                  </form>
                  <li class="nav-item">
                    <a href="cartPage" class="icons position-relative">
                      <i class="ti-shopping-cart">
                        <span class="badge badge-danger rounded-circle position-absolute top-50 end-(-1)">
                          <% if (cart && cart.items !== null) { %>
                            <%= cart.items.length %>
                          <% } else { %>
                             0
                          <% } %>
                        </span>
                      </i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <div class="dropdown">
                      <a href="#" class="icons dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-user" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="myProfile">My Profile</a>
                        <a class="dropdown-item" href="myProfile">Orders</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--================Header Menu Area =================-->
  <!--================Home Banner Area =================-->
  <% if(typeof banner !== 'undefined') { %>
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background-image: url('/productimg/<%= banner.shopBannerImage %>'); background-size: cover; background-position: center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Shop Category</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a href="/homepage">Home</a>
            <a href="category.html">Shop</a>
            <a href="category.html">Women Fashion</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>
  <!--================End Home Banner Area =================-->
  <!--================Category Product Area =================-->
  <% if (typeof categories !== 'undefined') { %>
  <section class="cat_product_area section_gap">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
          <div class="product_top_bar">
            <style>
              .left_dorp {
                display: flex;
                align-items: center;
              }
            
              .dropdown {
                position: relative;
                display: inline-block;
                margin-right: 20px; /* Adjust the margin as needed */
              }
            
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                z-index: 1;
              }
            
              .dropdown-content button {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: left;
                background-color: transparent;
                border: none;
                cursor: pointer;
              }
            
              .dropdown-content button:hover {
                background-color: #ddd;
              }
            
              .dropdown:hover .dropdown-content {
                display: block;
              }
            
              #limitForm {
                margin-left: auto; /* Push the form to the right */
              }
            </style>
            
            <div class="left_dorp">
              <div class="dropdown">
                <button class="dropbtn">sort by price</button>
                <div class="dropdown-content">
                  <button onclick="handleSort('priceLowToHigh')">price low to high</button>
                  <button onclick="handleSort('priceHighToLow')">price high to low</button>
                </div>
              </div>
              <form id="limitForm" action="/shop" method="POST">
                <select name="limit" class="show" id="limitSelect" onchange="updateLimit()">
                  <option value="12">Show 12</option>
                  <option value="8">Show 8</option>
                  <option value="4">Show 4</option>
                </select>
              </form>
            </div>
            
          </div>
          <div class="latest_product_inner">
            <div class="row">
              <% if (typeof products !== 'undefined' && products.length>0) { %>
              <% products.forEach((product) => { %>
              <div class="col-lg-4 col-md-6">
                <div style="width: 100%; height: auto;" class="single-product">
                  <div class="product-img">
                    <img class="card-img" src="/productimg/<%= product.defaultimage %>" alt="<%= product.title %>" />
                    <div class="p_icon">
                      <form id="productForm" action="/productDetails" method="post">
                        <input type="hidden" name="productID" value="<%=product._id %>">
                        <button onclick="productDetails()" style="color: transparent;">
                        <a href="#">
                        <i class="ti-eye"></i>
                        </a>
                        </button>
                        <button onclick="addToWishList()" style="color: transparent;">
                        <a href="#">
                        <i class="ti-heart"></i>
                        </a>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4><%= product.title %></h4>
                    </a>
                    <div class="mt-3">
                      <% const productOffer = offer.find(offerItem => offerItem.category === product.category); %>
                      <% if (productOffer) { %>
                        <% if (productOffer.offerType === 'percentage') { %>
                          <!-- Apply percentage discount to regular price -->
                          <span class="mr-4">&#8377;<%= product.saleprice - (product.saleprice * productOffer.offerValue / 100) %></span>
                          <del>&#8377;<%= product.regularprice %></del>
                          <span style="background-color: gold; border-radius: 50px 50px 50px 50px; font-size: smaller;">added extra <%= productOffer.offerValue %>&percnt; discount</span>
                        <% } else if (productOffer.offerType === 'fixed') { %>
                          <!-- Apply fixed amount discount to sale price -->
                          <span class="mr-4">&#8377;<%= product.saleprice - productOffer.offerValue %></span>
                          <del>&#8377;<%= product.regularprice %></del>
                        <% } else { %>
                          <!-- Add more cases for other offer types if needed -->
                        <% } %>
                      <% } else { %>
                        <!-- No offer, display regular/sale price -->
                        <% if (product.saleprice !== product.regularprice) { %>
                          <span class="mr-4">&#8377;<%= product.saleprice %></span>
                          <del>&#8377;<%= product.regularprice %></del>
                        <% } else { %>
                          <span class="mr-4">&#8377;<%= product.saleprice %></span>
                        <% } %>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
              <% } %>     
            </div>
            <div style="background-color: #F6F6F6;">
              <br>
              <%
                for (let j = 1; j <= totalPages; j++) {
              %>
                <form action="/shop" method="get" style="display:inline;">
                  <input type="hidden" name="page" value="<%= j %>">
                  <input type="hidden" name="currentLimit" value="<%= currentLimit %>">
                  <button type="submit" class="btn btn-ghost"><%= j %></button>
                </form>
              <%
                }
              %>
              <% } %>
              <br>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="left_sidebar_area">
            <aside class="left_widgets p_filter_widgets">
              <form action="/applyFilter" method="post">
                  <div class="left_widgets p_filter_widgets">
                      <div class="l_w_title">
                          <h3>Filter by Category</h3>
                      </div>
                      <div class="widgets_inner">
                          <select name="category" class="form-control">
                              <!-- Options for categories -->
                              <option value="allCategory">all</option>
                              <% categories.forEach((category) => { %>
                                  <option value="<%= category.maincategory %>"><%= category.maincategory %></option>
                              <% }) %>
                          </select>
                      </div>
                  </div>
                  <div class="left_widgets p_filter_widgets">
                      <div class="l_w_title">
                          <h3>Filter by Brand</h3>
                      </div>
                      <div class="widgets_inner">
                          <select name="brand" class="form-control">
                            <option value="allBrand">all</option>
                              <% brands.forEach((brand) => { %>
                                  <option value="<%= brand.title %>"><%= brand.title %></option>
                              <% }) %>
                          </select>
                      </div>
                  </div>
                  <div class="left_widgets p_filter_widgets">
                      <div class="l_w_title">
                          <h3>Filter by Size</h3>
                      </div>
                      <div class="widgets_inner">
                          <select name="size" class="form-control">
                              <!-- Options for sizes -->
                              <option value="allSize">all</option>
                              <option value="small">S</option>
                              <option value="medium">M</option>
                              <option value="large">L</option>
                              <option value="XL">XL</option>
                              <option value="XXL">XXL</option>
                              <option value="XXXL">XXXL</option>
                          </select>
                      </div>
                  </div>
                  <div style="display: flex; border: none; align-items: center;justify-content: center;">
                      <button style="text-align: center; color: rgb(64, 247, 18); font-weight: bold;" type="submit">Apply Filter</button>
                  </div>
                  <div style="display: flex; border: none; align-items: center;justify-content: center;">
                      <button style="text-align: center; color: rgb(64, 247, 18); font-weight: bold;" type="reset" id="cleraFilterBtn">Clear Filter</button>
                  </div>
              </form>
            </aside>
            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Price Filter</h3>
              </div>
              <div class="widgets_inner">
                <div class="range_item">
                  <div id="slider-range"></div>
                  <div class="">
                    <label for="amount">Price : </label>
                    <input type="text" id="amount" readonly />
                  </div>
                </div>
              </div>
              <div style="display: flex; border: none; align-items: center;justify-content: center;">
                <button style="text-align: center; color: rgb(64, 247, 18); font-weight: bold;" id="applyFilterBtn">Apply Filter</button>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Category Product Area =================-->
  <!--================ start footer Area  =================-->
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Top Products</h4>
          <ul>
            <li><a href="#">Managed Website</a></li>
            <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Features</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Agencies</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>Newsletter</h4>
          <p>You can trust us. we only send promo offers,</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get" class="form-inline">
              <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address '" required="" type="email">
              <button class="click-btn btn btn-default">Subscribe</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom row align-items-center">
        <p class="footer-text m-0 col-lg-8 col-md-12">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <div class="col-lg-4 col-md-12 footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/stellar.js"></script>
  <script src="vendors/lightbox/simpleLightbox.min.js"></script>
  <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
  <script src="vendors/isotope/isotope-min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="vendors/jquery-ui/jquery-ui.js"></script>
  <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
  <script src="vendors/counter-up/jquery.counterup.js"></script>
  <script src="js/theme.js"></script>
  <script>
    function productDetails() {
      const form  = document.getElementById('productForm');
      form.action = '/productDetails';
      form.submit();
    }
    
  </script>
  <script>
    document.getElementById('applyFilterBtn').addEventListener('click', function () {
      const priceRange = $('#slider-range').slider('values');
      const productsContainer = document.querySelector('.latest_product_inner .row');

      $.ajax({
        url: '/applyPriceFilter',
        method: 'POST',
        data: { minPrice: priceRange[0], maxPrice: priceRange[1] },
        success: function (data) {
          if (data.success) {
            // Clear existing products
            productsContainer.innerHTML = '';

            // Append new products
            data.products.forEach((product) => {
              const productHtml = `
                <div class="col-lg-4 col-md-6">
                  <div style="width: 100%; height: 0; padding-bottom: 125%;" class="single-product">
                    <div class="product-img">
                      <img class="card-img" src="/productimg/${product.defaultimage}" alt="${product.title}" />
                      <div class="p_icon">
                        <form id="productForm" action="/productDetails" method="post">
                          <input type="hidden" name="productID" value="${product._id}">
                          <button onclick="productDetails()" style="color: transparent;">
                            <a href="#">
                              <i class="ti-eye"></i>
                            </a>
                          </button>
                          <button onclick="addToWishList()" style="color: transparent;">
                            <a href="#">
                              <i class="ti-heart"></i>
                            </a>
                          </button>
                        </form>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>${product.title}</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">&#8377;${product.saleprice}</span>
                        <del>&#8377;${product.regularprice}</del>
                      </div>
                    </div>
                  </div>
                </div>
              `;
              productsContainer.insertAdjacentHTML('beforeend', productHtml);
            });

            console.log('Filter applied successfully');
          } else {
            console.error('Error applying filter:', data.error);
          }
        },
        error: function (error) {
          console.error('Error applying filter:', error);
        },
      });
    });

  </script>
  <script>
    function handleSort(option) {
    const selectedOption = option;

    fetch(`/sort/${selectedOption}`)
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
      })
      .then(data => {
        const productsContainer = document.querySelector('.latest_product_inner .row');
        productsContainer.innerHTML = '';

        // Append new products
        data.products.forEach((product) => {
          const productHtml = `
            <div class="col-lg-4 col-md-6">
              <div style="width: 100%; height: 0; padding-bottom: 125%;" class="single-product">
                <div class="product-img">
                  <img class="card-img" src="/productimg/${product.defaultimage}" alt="${product.title}" />
                  <div class="p_icon">
                    <form id="productForm" action="/productDetails" method="post">
                      <input type="hidden" name="productID" value="${product._id}">
                      <button onclick="productDetails()" style="color: transparent;">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                      </button>
                      <button onclick="addToWishList()" style="color: transparent;">
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="product-btm">
                  <a href="#" class="d-block">
                    <h4>${product.title}</h4>
                  </a>
                  <div class="mt-3">
                    <span class="mr-4">&#8377;${product.saleprice}</span>
                    <del>&#8377;${product.regularprice}</del>
                  </div>
                </div>
              </div>
            </div>
          `;
          productsContainer.insertAdjacentHTML('beforeend', productHtml);
        });
      })
      .catch(error => {
        console.error('Fetch error:', error);
      });
  }
  </script>
  <script>
    function updateLimit() {
        // Get the form element by its ID
        var form = document.getElementById('limitForm');

        // Submit the form
        form.submit();
    }
  </script>
  <%- include('../layouts/footer.ejs')  -%>